# 忽略 output 目录
Assignment4/codes/output/

# 忽略 data 目录中的所有文件
Assignment4/codes/data/**

# 忽略 test.py
Assignment4/codes/test.py

# 忽略Assignment5/data
Assignment5/data/**
Assignment5/python/test_task22.py
Assignment5/python/test_task23.py
Assignment5/python/test_task24.py
Assignment5/python/test_task25.py
